<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova.google-play-services.check"
        version="1.0.0">

  <name>GooglePlayServicesCheck</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/GooglePlayServicesCheck.js" target="js/GooglePlayServicesCheck.js"/>

  <js-module src="www/GooglePlayServicesCheck.js" name="GooglePlayServicesCheck">
    <clobbers target="GooglePlayServicesCheck" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GooglePlayServicesCheck">
        <param name="android-package" value="org.apache.cordova.google-play-services.check.GooglePlayServicesCheck"/>
      </feature>
    </config-file>

    <source-file src="src/android/GooglePlayServicesCheck.java" target-dir="src/org/apache/cordova/google-play-services/check"/>
  </platform>

</plugin>
